body {
  background: #ffffff;
}

a {
  text-decoration: none;
  color: #555555;
}

a:visited {
  text-decoration: none;
  color: #555555;
}

a:hover {
  text-decoration: none;
  color: #0099cc;
  background: #eeeeee;
}

p.header {
  margin-bottom: 20px;
}

p.item {
  margin-bottom: 20px;
  text-align: justify;
}

div.content {
  color: #555555;
  font-family: sans-serif;
  font-size: 8pt;
/*  font-weight: bold; */
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 580px;
}

h1 {
  font-family: sans-serif;
  font-size: 8pt;
  font-weight: bold;
  color: #cc0033;
}

div.north
{
  height: 240px;
}

div.east {
  float: left;
  width: 400px;
}

div.west {
  float: right;
  width: 160px;
  margin-left: 20px;
}

div.south {
  width: 100%;
}

p.address {
  margin-top: 50px;
  margin-bottom: 75px;
  color: #777777;
}
