body {
  background: #000000; 
  /*
   * Background image: https://commons.wikimedia.org/wiki/File:Certain_brain_regions_light_up_during_specific_cognitive_function,_this_is_how_internal_processes_are_linked_to_behaviour_such_as_learning.png
   * Author: NICHD
   * License: https://creativecommons.org/licenses/by/2.0/deed.en
   */
  background-image: url("bg.png");
  background-size: cover;
}

img.avatar {
  padding-right: 20px;
  height: 40px;
  vertical-align: middle;
}

div.nav_panel {
  position: fixed;
  top: 0px;
  overflow: hidden;
  background: #000000;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10pt;
  font-family: verdana;
}

a.nav_button {
  text-decoration: none;
}

a:visited.nav_button {
  text-decoration: none;
}

a:hover.nav_button {
  text-decoration: none;
}

a.nav_link {
  vertical-align: middle;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
}

a:visited.nav_link {
  text-decoration: none;
  color: #ffffff;
}

a:hover.nav_link {
  text-decoration: underline;
  color: #f5b027;
  background: #000000;
}

div.content {
  margin-top: 50px;
  margin-bottom: 150px;
  margin-left: 15%;
  margin-right: 15%;
  color: #ffffff;
  font-family: verdana;
  font-size: 12pt;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #f5b027;
  text-decoration: underline;
  background: #000000;
}

span.title {
  vertical-align: middle;
  background: #f5b027;
  color: #ffffff;
  padding: 5px;
}

span.name {
  vertical-align: middle;
  color: #ffffff;
  margin-right: 50px;
}

span.contact {
  vertical-align: middle;
  background: #f5276c;
  color: #ffffff;
  margin-left: 50px;
  padding: 5px;
}

span.update {
  color: #f5b027;
}

p.item {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.section {
   padding-top: 60px;
}

div.block {
  background: rgba(0,0,0,0.8);
  padding: 10px;
}

h1 {
  font-family: verdana;
  font-size: 14pt;
  color: #f5b027;
}

h2 {
  font-family: verdana;
  text-align: left;
  font-size: 10pt;
  color: #f5b027;
}

div.contact {
  margin-top: 20px;
}

ol.output {
  padding-left: 30px;
}
