body {
  background: #bbbbbb;
}

a {
  text-decoration: none;
  color: #444444;
}

a:visited {
  text-decoration: none;
  color: #444444;
}

a:hover {
  color: #ffb800;
  text-decoration: underline;
  background: #888888;
}

div.header {
  font-family: verdana;
  font-weight: lighter;
  font-size: 16pt;
}

span.title {
  color: #ffb800;
  vertical-align: middle;
  border-width: 2px;
  border-color: #ffb800;
  border-style: solid;
  padding: 5px;
}

span.name {
  color: #444444;
  vertical-align: middle;
}

p.nav_links {
  margin-top: 25px;
}

p.item {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

div.content {
  background: #ffffff;
  color: #444444;
  font-family: georgia;
  font-size: 12pt;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  width: 900px;
}

h1 {
  margin-top: 35pt;
  font-family: verdana;
  font-weight: lighter;
  font-size: 13pt;
  color: #bbbbbb;
}

h2 {
  margin-top: 20px;
  font-family: verdana;
  font-weight: lighter;
  text-align: right;
  font-size: 10pt;
  color: #ffb800;
}

div.email {
  margin-top: 20px;
}

hr.section {
  border-top: 0px;
  border-color: #bbbbbb;
  color: #bbbbbb;
}
